*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.col{
    padding-left: 10px;
    padding-right: 10px;
}
.c-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.c-9{
    flex: 0 0 75%;
    max-width: 75%;
} 
.c-12{
    flex: 0 0 100%;
    max-width: 100%;
}  
/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .grid {
        width: 644px;
    }
}
/* pc low solution */
@media (min-width: 1024px) and (max-width: 1239px){
    .grid{
        width: 984px;
    }
}
@media (max-width: 739px){
    .grid{
        width: 100%;
    }
}
/* end css grid */
/* css layout custom */
.item{
    /* width: 100%; */
    background-color: aqua;
    text-align: center;
    margin-bottom: 10px;
}
.item1{
    height: 200px;
}
.item2{
    height: 500px;
}
.item3{
    height: 500px;
}
@media (max-width: 1023px){
    .m-12{
        display: block;
        max-width: 100%;
        flex: 0 0 100%;
    }
}
/* hỏi thầy tại sao khi phải sử dụng max-width thì mới responsive được */