*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item h1 {
    color: white;
}
.header{
    height: 70px;
    background-color: #0F1629;
}
.menu{
    height: 70px;
    background-color: #EF3D4D;
}
.hero{
    height: 300px;
    background-color: #4C86C6;
}
.main{
    height: 200px;
    background-color: #24344B;
}
.image{
    height: 100px;
    background-color: #C1E4E6;
}
.extra{
    background-color: #4DBD97;
}
.banner{
    background-color: #FED269;
}
@media (min-width: 740px) and (max-width: 1023px) {
    .custom-1{
        order: 3;
    }
    .menu{
        height: 400px;
    }
    .custom-2{
        order: 4;
    }
    .custom-3{
        order:4;
    }
    .custom-4{
        order:-1;
    }
}
@media (max-width: 739px) {
    .custom-3{
        order: 3;
    }
    .custom-4{
        order: -1;
    }
}